[Unit]
Description=adhocint postgres

[Container]
Image=postgres:16-alpine
ContainerName=adhocint-db
EnvironmentFile=/opt/adhocint/shared/.env.production
Volume=adhocint-db-data:/var/lib/postgresql/data
Network=adhocint
[Restart=on-failure]
[StandardOutput=journal]
[StandardError=journal]

[Install]
WantedBy=default.target
