[Unit]
Description=adhocint postgres

[Container]
Image=postgres:16-alpine
ContainerName=adhocint-db
EnvironmentFile=/opt/adhocint/shared/.env.production
Volume=adhocint-db-data:/var/lib/postgresql/data
Network=adhocint

[Install]
WantedBy=default.target
