[Unit]
Description=adhocint postgres

[Container]
Image=docker.io/library/postgres:16-alpine
ContainerName=adhocint-db
EnvironmentFile=/opt/adhocint/shared/.env.production
Volume=adhocint-db-data:/var/lib/postgresql/data
Network=adhocint
Image=docker.io/library/postgres:16-alpine

[Install]
WantedBy=default.target
